version: '3.8'

services:
  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: earthworm_nest
    volumes:
      - data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
  redis:
    image: redis:5-alpine
    restart: always
    volumes:
      - redis_data:/var/lib/redis
    ports:
      - 6379:6379
volumes:
  data:
    driver: local
