API_BASE="http://localhost:3001"
LOGTO_APP_ID="b4vtjjefuw6hh330518kp"
LOGTO_ENDPOINT="http://localhost:3010/"
BACKEND_ENDPOINT="http://localhost:3001/"
LOGTO_SIGN_IN_REDIRECT_URI="http://localhost:3000/callback"
LOGTO_SIGN_OUT_REDIRECT_URI="http://localhost:3000/"
HELP_DOCS_URL="https://earthworm-docs.cuixueshe.com/get-started/"
