DATABASE_URL="postgres://postgres:password@localhost:5433/earthworm"
SECRET="sjldk92#sd903mnc./xklsjdf9sdfj"
REDIS_URL="redis://127.0.0.1:6379"
LOGTO_CLIENT_ID="ycgwrj3ohzkrmqkstsqjs"
LOGTO_CLIENT_SECRET="99dWl1L5vJeidwBXxTsjsDXb3kOf2jQX"
LOGTO_M2M_API="https://default.logto.app/api"
LOGTO_ENDPOINT="http://localhost:3010/"
BACKEND_ENDPOINT="http://localhost:3001/"

